/* General Styles */

/* Add this style directly to your <style> tag */
.content-wrapper {
  text-align: center;
  /* This centers the inline-block child */
}

/* Content Block Styling */
.content {
  background-color: white;
  /* White background */
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  display: inline-block;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form-group {
  margin-right: 20px;
  margin-bottom: 10px;
  flex-basis: calc(50% - 20px);
  /* Adjust width calculation if different spacing is needed */
}

.form-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  /* Input takes full width of its parent .form-group */
  box-sizing: border-box;
  /* Include padding and border in the element's width */
}


/* Basic styles for the header */
.header {
  background-color: rgba(5, 67, 118, 1) !important;
  /* Example blue color */
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 50px;
  /* Adjust based on your logo's size */
}

.header-nav {
  display: flex;
  align-items: center;
}

.neonfront_link {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 75px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #539dde;
}

/* Container for the grid and the vertical name */
.grid-container {
  display: flex;
  align-items: center;
  /* Align 'Niners' vertically with the grid */
}


/* Team Names Styling */
.team-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: xx-large;
  /* Reduced space below the team names */
}

/* Adjust the vertical team name */
.team-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-right: 10px;
  /* Spacing between the vertical title and the grid */
}

.team-horizontal {
  margin-left: 20px;
  /* Reduced to align with the smaller grid squares */
}

/* Grid Styling */
.grid {
  display: grid;
  grid-template-columns: 75px repeat(10, 85px);
  /* Smaller header and squares */
  margin-left: 25px;
}

.header-row,
.grid-row {
  display: contents;
}

.corner-square,
.header-square {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  /* Adjusted for smaller header squares */
}

.column-header {
  height: 25px;
}

.row-header {
  width: 30px;
}

/* Individual Squares Styling */
.grid-square {
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70px;
  /* Fixed width for squares */
  height: 40px;
  /* Fixed height for squares */
}

.grid-square.taken {
  background-color: #ffc107;
}

.grid-square.selected {
  background-color: #8cbfe9;
}

/* Number and Owner Name inside the Square */
.square-number,
.owner-name {
  font-size: 0.7em;
  /* Smaller text to fit the reduced square size */
  color: #333;
}

.square-number {
  position: absolute;
  top: 2px;
  left: 2px;
}

.owner-name {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
}

/* Hover Effects */
.grid-square:hover {
  background-color: #e0e0e0;
}

.grid-square.taken:hover {
  background-color: #ffca28;
}

.grid-square.selected:hover {
  background-color: #539dde;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 15px repeat(10, 25px);
    /* Adjust for smaller screens */
  }

  .header-square,
  .grid-square {
    height: 25px;
    /* Smaller squares for responsive design */
  }
}



/* Buttons!! */


button {
  padding: 15px 30px;
  /* Larger padding for a bigger button */
  background-color: #007bff;
  /* A pleasant blue shade */
  color: white;
  /* White text color */
  font-size: 18px;
  /* Larger font size */
  border: none;
  /* Remove default border */
  border-radius: 5px;
  /* Slightly rounded corners */
  cursor: pointer;
  /* Cursor changes to a hand icon when hovering */
  transition: background-color 0.3s, transform 0.2s;
  /* Smooth background color change and transform on hover */
  text-decoration: none;
  /* Remove underline from text */
  display: inline-block;
  /* Allows setting padding and margins */
  margin: 10px;
  /* Space around the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  outline: none;
  /* Remove the focus outline */
}

button:hover {
  background-color: #0056b3;
  /* Darker shade when hovered */
  transform: scale(1.05);
  /* Slightly increase size on hover */
}

button:active {
  background-color: #004080;
  /* Even darker when clicked */
  transform: scale(0.95);
  /* Slightly decrease size when clicked */
}

.body-div {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 50vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Raleway';
}

.payment-title {
  width: 100%;
  text-align: center;
}

.form-container .field-container:first-of-type {
  grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
  grid-area: security;
}

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  position: relative;
}

.form-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name" "number number" "expiration security";
  max-width: 400px;
  padding: 20px;
  color: #707070;
}

label {
  padding-bottom: 5px;
  font-size: 13px;
}

input {
  margin-top: 3px;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.container {
  width: 100%;
  max-width: 400px;
  max-height: 251px;
  height: 54vw;
  padding: 20px;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.creditcard .lightblue {
  fill: #03A9F4;
}

.creditcard .lightbluedark {
  fill: #0288D1;
}

.creditcard .red {
  fill: #ef5350;
}

.creditcard .reddark {
  fill: #d32f2f;
}

.creditcard .purple {
  fill: #ab47bc;
}

.creditcard .purpledark {
  fill: #7b1fa2;
}

.creditcard .cyan {
  fill: #26c6da;
}

.creditcard .cyandark {
  fill: #0097a7;
}

.creditcard .green {
  fill: #66bb6a;
}

.creditcard .greendark {
  fill: #388e3c;
}

.creditcard .lime {
  fill: #d4e157;
}

.creditcard .limedark {
  fill: #afb42b;
}

.creditcard .yellow {
  fill: #ffeb3b;
}

.creditcard .yellowdark {
  fill: #f9a825;
}

.creditcard .orange {
  fill: #ff9800;
}

.creditcard .orangedark {
  fill: #ef6c00;
}

.creditcard .grey {
  fill: #bdbdbd;
}

.creditcard .greydark {
  fill: #616161;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #FFFFFF;
}

#cardfront .st3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0F0F0F;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #F2F2F2;
}

#cardback .st4 {
  fill: #D8D2DB;
}

#cardback .st5 {
  fill: #C4C4C4;
}

#cardback .st6 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #FFFFFF;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #EAEAEA;
}

#cardback .st12 {
  font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}


.payment-info {
  display: flex;
  align-items: center;
  /* Vertically align items in the middle */
  justify-content: center;
  /* Align items to the left */
}

.charge-info {
  margin-right: 20px;
  /* Add some space between the text and the button */
}